/* *{
    box-sizing: border-box;
} */
.container-1{
    display: flex;
    gap: 21px;
    padding: 85px;
    /* width: 1440px;
    height: 1024px;
    background-color: blue; */
}
.box{
    width: 313px;
    height: 219px;
    background: #209F62;
}
.container-2{
    display: flex;
    gap: 21px;
}